<div class="card mt-4 sticky-top">
    <div class="card-header d-flex justify-content-around card-header-custom left-most">
      <span class="align-middle">Filter</span>
    </div>

    <div class="card-body" id="filterCard">

      <div class="form-check">
        <input class="form-check-input suratcheck" type="checkbox" id="surah_all" name="surah_all" checked>
        <label class="form-check-label" for="surah_all">All Surahs</label>
      </div>
      <div class="form-check">
        <input class="form-check-input suratcheck" type="checkbox" id="surah_1" name="surah_1">
        <label class="form-check-label" for="surah_1">Al-Faatiha</label>
      </div>
      <div class="form-check">
        <input class="form-check-input suratcheck" type="checkbox" id="surah_2" name="surah_2">
        <label class="form-check-label" for="surah_2">Al-Baqara</label>
      </div>
      <div class="form-check">
        <input class="form-check-input suratcheck" type="checkbox" id="surah_3" name="surah_3">
        <label class="form-check-label" for="surah_3">Aal-i-Imraan</label>
      </div>
      <div class="form-check">
        <input class="form-check-input suratcheck" type="checkbox" id="surah_5" name="surah_5">
        <label class="form-check-label" for="surah_5">Al-Maaida</label>
      </div>
      <div class="form-check">
        <input class="form-check-input suratcheck" type="checkbox" id="surah_7" name="surah_7">
        <label class="form-check-label" for="surah_7">Al-A'raaf</label>
      </div>
      <div class="form-check">
        <input class="form-check-input suratcheck" type="checkbox" id="surah_10" name="surah_10">
        <label class="form-check-label" for="surah_10">Yunus</label>
      </div>
      <div class="form-check">
        <input class="form-check-input suratcheck" type="checkbox" id="surah_11" name="surah_11">
        <label class="form-check-label" for="surah_11">Hud</label>
      </div>
      <div class="form-check">
        <input class="form-check-input suratcheck" type="checkbox" id="surah_12" name="surah_12">
        <label class="form-check-label" for="surah_12">Yusuf</label>
      </div>
      <div class="form-check">
        <input class="form-check-input suratcheck" type="checkbox" id="surah_14" name="surah_14">
        <label class="form-check-label" for="surah_14">Ibrahim</label>
      </div>
      <div class="form-check">
        <input class="form-check-input suratcheck" type="checkbox" id="surah_17" name="surah_17">
        <label class="form-check-label" for="surah_17">Al-Israa</label>
      </div>
      <div class="form-check">
        <input class="form-check-input suratcheck" type="checkbox" id="surah_18" name="surah_18">
        <label class="form-check-label" for="surah_18">Al-Israa</label>
      </div>
      <div class="form-check">
        <input class="form-check-input suratcheck" type="checkbox" id="surah_20" name="surah_20">
        <label class="form-check-label" for="surah_20">Taa-Haa</label>
      </div>
      <div class="form-check">
        <input class="form-check-input suratcheck" type="checkbox" id="surah_21" name="surah_21">
        <label class="form-check-label" for="surah_21">Al-Anbiyaa</label>
      </div>
      <div class="form-check">
        <input class="form-check-input suratcheck" type="checkbox" id="surah_23" name="surah_23">
        <label class="form-check-label" for="surah_23">Al-Muminoon</label>
      </div>
      <div class="form-check">
        <input class="form-check-input suratcheck" type="checkbox" id="surah_25" name="surah_25">
        <label class="form-check-label" for="surah_25">Al-Furqaan</label>
      </div>
      <div class="form-check">
        <input class="form-check-input suratcheck" type="checkbox" id="surah_26" name="surah_26">
        <label class="form-check-label" for="surah_26">Ash-Shu'araa</label>
      </div>
      <div class="form-check">
        <input class="form-check-input suratcheck" type="checkbox" id="surah_27" name="surah_27">
        <label class="form-check-label" for="surah_27">An-Naml</label>
      </div>
      <div class="form-check">
        <input class="form-check-input suratcheck" type="checkbox" id="surah_28" name="surah_28">
        <label class="form-check-label" for="surah_28">Al-Qasas</label>
      </div>
      <div class="form-check">
        <input class="form-check-input suratcheck" type="checkbox" id="surah_29" name="surah_29">
        <label class="form-check-label" for="surah_29">Al-Ankaboot</label>
      </div>
      <div class="form-check">
        <input class="form-check-input suratcheck" type="checkbox" id="surah_35" name="surah_35">
        <label class="form-check-label" for="surah_35">Faatir</label>
      </div>
      <div class="form-check">
        <input class="form-check-input suratcheck" type="checkbox" id="surah_37" name="surah_37">
        <label class="form-check-label" for="surah_37">As-Saaffaat</label>
      </div>
      <div class="form-check">
        <input class="form-check-input suratcheck" type="checkbox" id="surah_37" name="surah_37">
        <label class="form-check-label" for="surah_37">Ghafir</label>
      </div>
      <div class="form-check">
        <input class="form-check-input suratcheck" type="checkbox" id="surah_44" name="surah_44">
        <label class="form-check-label" for="surah_44">Ad-Dukhaan</label>
      </div>
      <div class="form-check">
        <input class="form-check-input suratcheck" type="checkbox" id="surah_46" name="surah_46">
        <label class="form-check-label" for="surah_46">Al-Ahqaf</label>
      </div> 
      <div class="form-check">
        <input class="form-check-input suratcheck" type="checkbox" id="surah_59" name="surah_59">
        <label class="form-check-label" for="surah_59">Al-Hashr</label>
      </div>
      <div class="form-check">
        <input class="form-check-input suratcheck" type="checkbox" id="surah_60" name="surah_60">
        <label class="form-check-label" for="surah_60">Al-Mumtahana</label>
      </div>
      <div class="form-check">
        <input class="form-check-input suratcheck" type="checkbox" id="surah_66" name="surah_66">
        <label class="form-check-label" for="surah_66">At-Tahrim</label>
      </div>
      <div class="form-check">
        <input class="form-check-input suratcheck" type="checkbox" id="surah_71" name="surah_71">
        <label class="form-check-label" for="surah_71">Nooh</label>
      </div>
      <div class="form-check">
        <input class="form-check-input suratcheck" type="checkbox" id="surah_112" name="surah_112">
        <label class="form-check-label" for="surah_112">Al-Ikhlaas</label>
      </div>
      <div class="form-check">
        <input class="form-check-input suratcheck" type="checkbox" id="surah_113" name="surah_113">
        <label class="form-check-label" for="surah_113">Al-Falaq</label>
      </div>
      <div class="form-check">
        <input class="form-check-input suratcheck" type="checkbox" id="surah_114" name="surah_114">
        <label class="form-check-label" for="surah_114">An-Naas</label>
      </div>

    </div>
  </div>