<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required Meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond:400,500,700&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">

    <!-- Required Bootstrap -->
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/stylesheets/style.css">

    <!-- Page Title -->
    <title>Quranic Duas</title>
  </head>
  <body>
		<nav class="navbar navbar-expand-md navbar-custom">
			<a class="navbar-brand navbar-brand-custom mx-auto" href="/home">Duas From The Quran</a>
		</nav>